<section class="flex justify-center">
    <section class="flex justify-center gap-20 m-10 p-20 bg-[#ffffff] w-1/2 rounded-4xl">
        <aside class="border-r-[#888888] border-r-[1px] pr-11">
            <div class="h-48 flex flex-col items-center gap-3 rounded-4xl">
                <img src="assets/images/perfil.png" alt="imagem de um boneco de perfil" class="h-2/3 rounded-full border-blue-900 border-4">
                <p class="font-semibold text-2xl">Nome usuario</p>
            </div>
            <div class="mt-5">
                <ul class="flex flex-col gap-5 justify-center text-center">
                    <li class="flex items-center h-20 hover:cursor-pointer hover:font-semibold hover:border-b-[#888888] hover:border-b-[1px]">
                        <a class="flex items-center justify-start gap-1 text-xl">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-icon lucide-user-round">
                                <circle cx="12" cy="8" r="5"/>
                                <path d="M20 21a8 8 0 0 0-16 0"/>
                            </svg>
                            Perfil
                        </a>
                    </li>
                    <li class="flex items-center h-20 hover:cursor-pointer hover:font-semibold hover:border-b-[#888888] hover:border-b-[1px]">
                        <a class="flex items-center justify-start gap-1 text-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart">
                                <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                            </svg>
                            Favoritos
                        </a>
                    </li>
                    <li class="flex items-center h-20 hover:cursor-pointer hover:font-semibold hover:border-b-[#888888] hover:border-b-[1px]">
                        <a class="flex items-center justify-start gap-1 text-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
                                <circle cx="8" cy="21" r="1"/>
                                <circle cx="19" cy="21" r="1"/>
                                <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                            </svg>
                            Carrinho
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    
        <div class="flex flex-col gap-6">
            <h3>Perfil</h3>
            <div class="bg-[#ffffff] border-[1px] w-full">

                mais informações
            </div>
        </div>
    </section>
</section>