<main>
    <cabecalho-app></cabecalho-app>
    
    <section class="mt-32 mb-32">
        <div class="flex justify-center relative">
            <img src="../../../assets/images/banner.jpg"h class="rounded-4xl" alt="Imagem de um notebook">
            
            <div class="absolute right-60 top-40 text-center flex flex-col gap-5">
                <h2 class="text-4xl text-[#2E8FC5] font-bold">Vendas com <span class="text-[#F4A261]">50%</span> de desconto</h2>
                <p class="text-2xl text-white">Tela HD de 12 polegadas</p>
            </div>
        </div>
    </section>

    <lista-produtos-app></lista-produtos-app>
</main>
