<div (click)="navegarParaProdutoDetalhado()" (mouseenter)="produto.hover = true" (mouseleave)="produto.hover = false" class="flex flex-col items-center justify-center max-w-2xs w-72 h-96 max-h-96 bg-white border border-gray-500 rounded-2xl shadow-gray-300 shadow-sm overflow-ellipsis hover:cursor-pointer transition-all duration-300 hover:scale-105">
    <div class="h-4/12 p-1">
        <img [src]="produto.imagemUrl" class="w-fit h-full" [alt]="produto.titulo">
    </div>
    
    <div class="flex flex-col gap-4 p-5 text-center">
        <h3 class="text-[#003F62] font-medium">{{produto.titulo}}</h3>
        
        <p class="text-[#4A4A4A] font-medium transition-opacity duration-300" [ngClass]="{ 'opacity-0': produto.hover, 'opacity-100': !produto.hover}">{{produto.descricao}}</p>
        
        <p class="text-[#000000] font-semibold">R$ {{produto.preco | currency:'BRL':'symbol':'1.2-2'}}</p>
<!--         
        <button (click)="comprar()" class="transition-opacity duration-300 h-11 w-48 bg-[#F4A261] hover:cursor-pointer hover:bg-[#ff9138] rounded-md flex gap-3 justify-center items-center font-semibold self-center" [ngClass]="{ 'opacity-100': produto.hover, 'opacity-0': !produto.hover}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>   
            Comprar
        </button> -->
    </div>
</div>