<div (click)="navegarParaProdutoDetalhado()" class="relative flex flex-col items-center justify-center max-w-2xs w-72 h-96 max-h-96 bg-white border border-gray-500 rounded-2xl shadow-gray-300 shadow-sm overflow-ellipsis hover:cursor-pointer transition-all duration-300 hover:scale-105">
    <div class="h-4/12 p-1">
        <img [src]="produto.imagemUrl" class="w-fit h-full" [alt]="produto.titulo">
    </div>
    
    <div class="flex flex-col gap-4 p-5 text-center">
        <h3 class="text-[#003F62] font-medium">{{produto.titulo}}</h3>
        
        <p class="text-[#4A4A4A] font-medium transition-opacity duration-300" [ngClass]="{ 'opacity-0': produto.hover, 'opacity-100': !produto.hover}">{{produto.descricao}}</p>
        
        <p class="text-[#000000] font-semibold">R$ {{produto.preco | currency:'BRL':'symbol':'1.2-2'}}</p>
    </div>
</div>