<main>
    <section class="relative pt-12 pb-20 lg:pt-20 lg:pb-28 overflow-hidden">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
                <div class="text-center lg:text-left animate-fade-in-up">
                    <h1 class="text-5xl lg:text-7xl font-bold tracking-tight text-slate-900 mb-6">
                        Tecnologia que <span class="text-[var(--color-primary)]">transforma</span> o seu dia.
                    </h1>
                    <p class="text-lg text-slate-600 mb-8 max-w-2xl mx-auto lg:mx-0">
                        Encontre os melhores gadgets, consoles e acessórios com preços imperdíveis e entrega rápida para
                        todo o Brasil.
                    </p>
                </div>

                <div class="relative">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="space-y-4 translate-y-8">
                            <div
                                class="bg-white p-4 rounded-3xl shadow-xl transform transition-transform hover:scale-105 duration-500">
                                <img src="assets/images/produtos-mostruario4.png"
                                    class="w-full h-64 object-contain rounded-2xl" alt="Console portátil">
                            </div>
                            <div
                                class="bg-slate-900 p-4 rounded-3xl shadow-xl transform transition-transform hover:scale-105 duration-500">
                                <img src="assets/images/produtos-mostruario.png"
                                    class="w-full h-48 object-cover rounded-2xl opacity-90" alt="PS5">
                            </div>
                        </div>
                        <div class="space-y-4 -translate-y-8">
                            <div
                                class="bg-orange-100 p-4 rounded-3xl shadow-xl transform transition-transform hover:scale-105 duration-500">
                                <img src="assets/images/produtos-mostruario2.png"
                                    class="w-full h-48 object-contain rounded-2xl mix-blend-multiply" alt="Notebook">
                            </div>
                            <div class="bg-white p-6 rounded-3xl shadow-xl flex items-center justify-center h-64">
                                <div class="text-center">
                                    <p class="text-4xl font-bold text-[var(--color-primary)] mb-2">50%</p>
                                    <p class="text-slate-600 font-medium">OFF na primeira compra</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-30 bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center mb-12">
                <div>
                    <h2 class="text-3xl font-bold text-slate-900 mb-2">Mais Vendidos</h2>
                    <p class="text-slate-500">Os produtos favoritos da nossa comunidade</p>
                </div>
                <a [routerLink]="['/produtos']" class="text-gray-600 hover:text-[var(--color-primary)] font-medium hover:cursor-pointer flex items-center gap-1">
                    Ver todos
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                </a>
            </div>

            <lista-produtos-app></lista-produtos-app>
        </div>
    </section>

    <section class="py-30 bg-slate-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center">
            <div class="text-center mb-16">
                <h2 class="text-slate-900 font-bold text-3xl mb-4">Navegue por Categorias</h2>
                <p class="text-slate-500 max-w-2xl mx-auto">Encontre exatamente o que você procura em nossas categorias especializadas</p>
            </div>

            <app-categorias-card></app-categorias-card>
        </div>
    </section>

    <section class="py-20 bg-slate-100">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold text-center text-slate-900 mb-16">O que dizem nossos clientes</h2>
            <app-feedbacks></app-feedbacks>
        </div>
    </section>
</main>