<section class="bg-gradient-to-bl from-[#282421e6] to-blue-900 flex justify-center items-center h-screen w-screen">
    <div class="bg-[#f0f0f0e6] rounded-4xl flex flex-col items-center justify-center w-2/3 h-5/6">

        <div class="flex flex-col items-center pb-3">
            <div class="flex items-center flex-col pb-11">
                <h3 class="font-semibold text-5xl">Crie sua conta!</h3>
            </div>

            <form [formGroup]="contatoForm" (ngSubmit)="registrar()" class="flex flex-col items-center gap-6">
                <div class="flex items-center gap-2 flex-col">
                    <input formControlName='nome' type="text" id="nome" class="w-96 h-16 bg-[#F2F2F2] text-lg placeholder:font-semibold rounded-lg p-3" placeholder="Nome completo">
                    <p class="text-red-600" *ngIf="contatoForm.get('nome')?.errors && contatoForm.get('nome')?.touched">Mínimo 4 caracteres</p>
                </div>
            
                <div class="flex items-center gap-2 flex-col">
                    <input formControlName = 'email' type="email" id="email" class="w-96 h-16 p-3 text-lg placeholder:font-semibold bg-[#F2F2F2] rounded-lg" placeholder="E-mail">
                    <p class="text-red-600" *ngIf="contatoForm.get('email')?.errors && contatoForm.get('email')?.touched">Formato inválido!</p>
                </div>

                <div class="flex items-center gap-2 flex-col">
                    <input formControlName = 'telefone' type="tel" oninput="validarTelefone()" mask="(00) 0000-0000 || (00) 00000-0000" id="telefone" class="w-96 h-16 p-3 text-lg placeholder:font-semibold bg-[#F2F2F2] rounded-lg" placeholder="Telefone">
                    <p class="text-red-600" *ngIf="contatoForm.get('telefone')?.errors && contatoForm.get('telefone')?.touched">Mínimo 10 números</p>
                </div>

                <div class="flex items-center gap-2 flex-col">
                    <input formControlName = 'senha' type="password" id="senha" class="w-96 h-16 p-3 text-lg placeholder:font-semibold bg-[#F2F2F2] rounded-lg" placeholder="Senha">
                    <p class="text-red-600" *ngIf="contatoForm.get('senha')?.errors && contatoForm.get('senha')?.touched">Mínimo 4 caracteres</p>
                </div>

                <div class="pb-5 pt-5">
                    <button type="submit" class="w-64 h-14 bg-[#282421e6] rounded-lg font-semibold  text-white text-2xl text-center hover:cursor-pointer hover:bg-[#F4A261] hover:text-black transition duration-500">Criar</button>
                </div>
            </form>

            <div class="flex gap-1 text-lg">
                <p class="font-semibold">Já tem uma conta?</p>

                <a [routerLink]="['/login']" class="text-blue-600 font-semibold hover:text-black">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</section>