<section class="bg-[#282421e6] flex justify-center items-center h-screen w-screen">
    <div class="bg-[#f0f0f0e6] rounded-4xl w-4/5 flex">
        <div class="w-1/2 rounded-4xl p-3 flex items-center">
            <img src="assets/images/logo.png" alt="logo do E-commerce">
        </div>
    
        <div class="flex flex-col items-center w-1/2 pb-3">
            <div class="flex items-center flex-col pb-8">
                <h3 class="font-semibold text-6xl text-[#1C1C1C] p-4">Bem vindo</h3>
                <p class="text-lg">crie sua conta!</p>
            </div>

            <form [formGroup]="contatoForm" (ngSubmit)="registrar()" class="flex flex-col items-center gap-6">
                <div class="flex items-center gap-2">
                    <input formControlName='nome' type="text" id="nome" class="w-96 h-16 bg-[#F2F2F2] text-lg placeholder:font-semibold rounded-lg p-3" placeholder="Nome completo">
                </div>
            
                <div class="flex items-center gap-2">
                    <input formControlName = 'email' type="email" id="email" class="w-96 h-16 p-3 text-lg placeholder:font-semibold bg-[#F2F2F2] rounded-lg" placeholder="E-mail">
                </div>

                <div class="flex items-center gap-2">
                    <input formControlName = 'telefone' type="tel" id="telefone" class="w-96 h-16 p-3 text-lg placeholder:font-semibold bg-[#F2F2F2] rounded-lg" placeholder="Telefone">
                </div>

                <div class="flex items-center gap-2">
                    <input formControlName = 'senha' type="password" id="senha" class="w-96 h-16 p-3 text-lg placeholder:font-semibold bg-[#F2F2F2] rounded-lg" placeholder="Senha">
                </div>

                <div>
                    <p class="font-semibold">Já tem uma conta? </p>
    
                    <a [routerLink]="['/login']">
                        <button class="w-80 h-14 bg-[#282421e6] rounded-lg font-semibold  text-white text-2xl text-center hover:cursor-pointer hover:bg-[#F4A261] hover:text-black transition duration-500">Entrar</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>